@page
@using AddressBook.Dal.Abstract
@inject IDalRepository _dalRepository

@functions{

    [BindProperty]
    public IEnumerable<IPerson> Persons { get; set; }
    
    public IActionResult OnGet()
    {
        Persons = _dalRepository.FindPerson();
        return Page();
    }

}

<p>
    <a asp-page="CreatePreson">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Persons)
        {
            <tr>
                <td><label asp-for="@item.Name"></label></td>
            </tr>

        }
    </tbody>
</table>