@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>EMail:</strong> <a href="mailto:iscifoni@libero.it">iscifoni@libero.it</a><br />
    <strong>Facebook:</strong> <a href="mailto:Marketing@example.com">http://www.facebook.com/iscifoni</a>
    <strong>Twitter:</strong> <a href="mailto:Marketing@example.com">http://www.twitter.com/iscifoni</a>
</address>
